
.header {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    .header_content {
        .logo {
            span {
                color: #2D2D2D;
                border: 1px solid #2D2D2D;
            }
        }
        .help {
            color: #2D2D2D;
            border: 2px solid #2D2D2D;
            &:hover{
                color: #FFFFFF;
            }
        }
    }
}

.politica_page{
    padding: 120px 0 40px;
    h2{
        font-size: 26px;
        font-weight: 500;
        color: #2D2D2D;
        line-height: 32px;
        position: relative;
        padding-left: 14px;
        margin-bottom: 30px;
        span{
            display: block;
            font-weight: 500;
        }
        &::after{
            content: '';
            left: 0;
            top: 7px;
            width: 6px;
            height: 18px;
            position: absolute;
            background: #4A4A4A;
        }
    }
    article{
        margin-bottom: 30px;
        h4{
            font-size: 22px;
            font-weight: 600;
            color: #2D2D2D;
            line-height: 26px;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
            color: #2D2D2D;
            font-weight: 500;
            line-height: 18px;
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
        }
        a{
            font-size: 14px;
            color: #2D2D2D;
            font-weight: 600;
            line-height: 18px;
            transition: all 0.3s;
            display: inline-block;
            &:hover{
                color: #E90000;
            }
        }
    }
    @media (min-width: 768px) {
        padding: 180px 0 50px;
        h2{
            font-size: 40px;
            line-height: 50px;
            padding-left: 18px;
            &::after{
                top: 11px;
                width: 8px;
                height: 28px;
            }
        }
        article{
            h4{
                font-size: 24px;
                line-height: 28px;
            }
            p{
                font-size: 16px;
                line-height: 20px;
            }
            a{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 180px 0 50px;
    }
    @media (min-width: 1320px) {
        h2{
            font-size: 50px;
            line-height: 62px;
            margin-bottom: 40px;
            &::after{
                top: 14px;
                height: 36px;
            }
        }
        article{
            margin-bottom: 40px;
            h4{
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                line-height: 22px;
            }
            a{
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    @media (min-width: 1800px) {
        padding: 220px 0 50px;
        h2{
            font-size: 60px;
            line-height: 74px;
            padding-left: 28px;
            margin-bottom: 50px;
            &::after{
                top: 15px;
                height: 42px;
            }
        }
    }
}