@import 'libs/slick';

.header {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    .header_content {
        .logo {
            span {
                color: #2D2D2D;
                border: 1px solid #2D2D2D;
            }
        }
        .help {
            color: #2D2D2D;
            border: 2px solid #2D2D2D;
            &:hover{
                color: #FFFFFF;
            }
        }
    }
}

.our_volunteers{
    padding: 120px 0 40px;
    h2{
        font-size: 26px;
        font-weight: 500;
        color: #2D2D2D;
        line-height: 32px;
        position: relative;
        padding-left: 14px;
        margin-bottom: 30px;
        span{
            display: block;
            font-weight: 500;
        }
        &::after{
            content: '';
            left: 0;
            top: 7px;
            width: 6px;
            height: 18px;
            position: absolute;
            background: #4A4A4A;
        }
    }
    .our_volunteers_items{
        margin-bottom: 40px;
        .our_volunteers_item{
            margin-bottom: 20px;
            transition: all 0.3s;
            &:hover{
                background: #FFFFFF;
                box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.2);
            }
            .img{
                width: 100%;
                height: 360px;
                transition: all 0.3s;
            }
            .text{
                padding: 14px 8px;
                h4{
                    font-size: 18px;
                    font-weight: 600;
                    color: #2D2D2D;
                    line-height: 22px;
                    margin-bottom: 8px;
                    span{
                        display: block;
                        font-weight: 600;
                    }
                }
                i{
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    color: #6B6B6B;
                    line-height: 20px;
                    font-style: normal;
                    margin-bottom: 8px;
                    text-transform: capitalize;
                }
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #2D2D2D;
                    line-height: 17px;
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                article{
                    p{
                   
                    }
                }
            }
        }
    }
    .all{
        width: 177px;
        height: 45px;
        margin: 0 auto;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        color: #212020;
        line-height: 15px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: 2px solid #212020;
        transition: all 0.3s;
        &:hover{
            color: #FFFFFF;
            background: #212020;
            border: 2px solid #212020;
        }
    }
    @media (min-width: 768px) {
        padding: 180px 0 50px;
        h2{
            font-size: 40px;
            line-height: 50px;
            padding-left: 18px;
            &::after{
                top: 11px;
                width: 8px;
                height: 28px;
            }
        }
        .our_volunteers_items{
            .our_volunteers_item{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .img{
                    width: 40%;
                }
                .text{
                    width: 58%;
                }
            }
        }
        .all{
            width: 219px;
            height: 57px;
            font-size: 14px;
            line-height: 17px;
        }
    }
    @media (min-width: 1024px) {
        padding: 180px 0 50px;
        .our_volunteers_items{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1% 60px;
            .our_volunteers_item{
                margin: 0 1% 40px;
                width: 31.33%;
                flex-direction: column;
                justify-content: flex-start;
                .img{
                    width: 100%;
                }
                .text{
                    width: 100%;
                    padding: 10px;
                    h4{
                        font-size: 20px;
                        line-height: 24px;
                    }
                    i{
                        font-size: 18px;
                        line-height: 22px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
    @media (min-width: 1320px) {
        h2{
            font-size: 50px;
            line-height: 62px;
            margin-bottom: 40px;
            &::after{
                top: 14px;
                height: 36px;
            }
        }
        .our_volunteers_items{
            .our_volunteers_item{
                .img{
                    height: 460px;
                }
                .text{
                    h4{
                        font-size: 22px;
                        line-height: 27px;
                    }
                    i{
                        font-size: 18px;
                        line-height: 22px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }
        .all{
            width: 290px;
            height: 66px;
            font-size: 18px;
            line-height: 22px;
        }
    }
    @media (min-width: 1800px) {
        padding: 220px 0 50px;
        h2{
            font-size: 60px;
            line-height: 74px;
            padding-left: 28px;
            margin-bottom: 50px;
            &::after{
                top: 15px;
                height: 42px;
            }
        }
        .our_volunteers_items{
            .our_volunteers_item{
                .img{
                    height: 646px;
                }
                .text{
                    padding: 30px 15px;
                    h4{
                        font-size: 32px;
                        line-height: 39px;
                    }
                    i{
                        font-size: 20px;
                        line-height: 24px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

.gallery{
    padding: 60px 0;
    h2{
        font-size: 26px;
        font-weight: 500;
        color: #2D2D2D;
        line-height: 32px;
        position: relative;
        padding-left: 14px;
        margin-bottom: 30px;
        text-transform: uppercase;
        span{
            display: block;
            font-weight: 500;
        }
        &::after{
            content: '';
            left: 0;
            top: 7px;
            width: 6px;
            height: 18px;
            position: absolute;
            background: #4A4A4A;
        }
    }
    .gallery_slider{
        left: 50%;
        z-index: 3;
        width: 260%;
        position: relative;
        padding-bottom: 30px;
        transform: translate(-50%, 0);
        .slick-arrow {
            left: 50%;
            bottom: 0;
            width: 12px;
            border: none;
            opacity: 0.5;
            cursor: pointer;
            position: absolute;
            background: transparent;
            transition: all 0.3s;
            transform: translate(-50%, 0);
            &:hover{
                opacity: 1;
            }
            img{
                width: 100%;
                display: block;
            }
        }
        .prev{
            left: 47%;
        }
        .next{
            left: 53%;
        }
        .slick-slide{
            padding: 0 3px;
            .img{
                width: 100%;
                height: 149px;
                margin-bottom: 10px;
            }
        }
    }
    @media (min-width: 768px) {
        padding: 80px 0;
        h2{
            font-size: 40px;
            line-height: 50px;
            padding-left: 18px;
            &::after{
                top: 11px;
                width: 8px;
                height: 28px;
            }
        }
        .gallery_slider {
            width: 170%;
            .prev{
                left: 48%;
            }
            .next{
                left: 52%;
            }
            .slick-slide{
                padding: 0 4px;
                .img{
                    height: 176px;
                    margin-bottom: 12px;
                }
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 100px 0;
        .gallery_slider {
            width: 184%;
            .prev{
                left: 48%;
            }
            .next{
                left: 52%;
            }
            .slick-slide{
                padding: 0 7px;
                .img{
                    height: 226px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    @media (min-width: 1320px) {
        h2{
            font-size: 50px;
            line-height: 62px;
            margin-bottom: 40px;
            &::after{
                top: 14px;
                height: 36px;
            }
        }
        .gallery_slider {
            width: 130%;
        }
    }
    @media (min-width: 1800px) {
        padding: 150px 0;
        h2{
            font-size: 60px;
            line-height: 74px;
            padding-left: 28px;
            margin-bottom: 50px;
            &::after{
                top: 15px;
                height: 42px;
            }
        }
        .gallery_slider {
            padding-bottom: 50px;
            .slick-arrow {
                width: 24px;
            }
            .slick-slide{
                padding: 0 9px;
                .img{
                    height: 328px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.contact{
    padding: 60px 0;
    position: relative;
    border-bottom: 1px solid #FFFFFF;
    &::after{
        content: '';
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(35, 36, 37, 0.74);
    }
    &::before{
        content: '';
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 148px;
        position: absolute;
        background: #4A4A4A;
    }
    h2{
        font-size: 26px;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 32px;
        position: relative;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .title{
        text-align: center;
        margin-bottom: 40px;
        p{
            width: 260px;
            font-size: 14px;
            color: #E1DFDF;
            font-weight: 500;
            line-height: 17px;
            margin: 0 auto 14px;
        }
        a{
            font-size: 14px;
            font-weight: 700;
            color: #FFFFFF;
            line-height: 28px;
            margin-bottom: 10px;
            display: inline-block;
            transition: all 0.3s;
            &:hover{
                color: #E90000;
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                margin: 0 6px;
                transition: all 0.3s;
                &:hover{
                    transform: scale(1.2);
                }
                a{
                    margin: 0;
                }
                img{
                    width: 24px;
                    display: block;
                }
            }
        }
    }
    .form{
        background: #FFFFFF;
        padding: 30px 40px 40px;
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
        h3{
            font-size: 20px;
            font-weight: 600;
            color: #232425;
            line-height: 24px;
            text-align: center;
            margin-bottom: 16px;
            text-transform: uppercase;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            color: #747475;
            line-height: 17px;
            text-align: center;
            padding-bottom: 20px;
        }
        .item{
            &:last-child{
                margin-bottom: 0;
            }
        }
        .input{
            margin-bottom: 10px;
            label{
                font-size: 14px;
                font-weight: 400;
                color: #747475;
                line-height: 24px;
                text-transform: uppercase;
            }
            input{
                width: 100%;
                height: 50px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                background: #FFFFFF;
                letter-spacing: 0.2px;
                padding: 14px 8px 16px;
                border: 1px solid #9AA8B6;
            }
            input::placeholder{
                color: #CAC7C7;
            }
            textarea{
                width: 100%;
                resize: none;
                height: 132px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                background: #FFFFFF;
                letter-spacing: 0.2px;
                padding: 14px 8px 16px;
                border: 1px solid #9AA8B6;
            }
            textarea::placeholder{
                color: #CAC7C7;
            }
        }
        .error{
            label{
                color: #E90000;
            }
            input{
                border: 1px solid #E90000;
            }
            textarea{
                border: 1px solid #E90000;
            }
        }
        .checkbox{
            padding-left: 20px;
            position: relative;
            margin-bottom: 30px;
            .jcf-checkbox{
                left: 0;
                top: 2px;
                width: 14px;
                height: 14px;
                position: absolute;
                background: #FDFBF9;
                border: 1px solid #9AA8B6;
                span{
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    width: 14px;
                    height: 10px;
                    position: absolute;
                    background: url('../img/tick.svg') no-repeat 50% 50%; 
                    background-size: cvoer;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                }
            }
            .jcf-checkbox.jcf-checked{
                span{
                    opacity: 1;
                }
            }
            label{
                font-size: 14px;
                font-weight: 400;
                color: #747475; 
                line-height: 21px;
            }
        }
        button{
            width: 100%;
            height: 67px;
            font-size: 20px;
            display: flex;
            font-weight: 600;
            color: #232425;
            line-height: 28px;
            align-items: center;
            background: #FFFFFF;
            letter-spacing: 0.2px;
            justify-content: center;
            text-transform: uppercase;
            border: 2px solid #2D2D2D;
            transition: all 0.3s;
            &:hover{
                color: #FFFFFF;
                background: #2D2D2D;
            }
        }
    }
    @media (min-width: 768px) {
        padding: 80px 0;
        h2{
            font-size: 40px;
            line-height: 50px;
        }
        .form {
            position: 50px 30px;
            h3 {
                font-size: 34px;
                line-height: 41px;
                margin-bottom: 16px;
            }
            p{
                padding-bottom: 30px;
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 100px 0;
        &::before{
            height: 180px;
        }
        .form {
            padding: 60px 30px;
            .items{
                display: flex;
                justify-content: space-between;
                .item{
                    width: 48%;
                }
            }
            .input {
                margin-bottom: 10px;
                textarea {
                    height: 218px;
                }
            }
            button{
                width: 530px;
                margin: 0 auto;
            }
        }
    }
    @media (min-width: 1320px) {
        &::before {
            height: 220px;
        }
        h2{
            font-size: 50px;
            line-height: 62px;
        }
        .title{
            margin-bottom: 40px;
            p{
                width: 300px;
                font-size: 16px;
                line-height: 20px;
            }
            a {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 10px;
            }
            ul {
                li {
                    margin: 0 8px;
                    img {
                        width: auto;
                        height: 32px;
                    }
                }
            }
        }
        .form{
            padding: 80px 40px;
            .input {
                input {
                    padding: 14px 10px;
                }
                textarea {
                    padding: 14px 10px;
                }
            }
        }
    }
    @media (min-width: 1800px) {
        padding: 150px 0;
        &::before {
            height: 300px;
        }
        h2{
            font-size: 60px;
            line-height: 74px;
        }
        .title{
            margin-bottom: 50px;
        }
        .form {
            padding: 110px 40px;
            h3{
                font-size: 44px;
                line-height: 54px;
            }
            p{
                font-size: 20px;
                line-height: 24px;
            }
            .input {
                label {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 4px;
                }
                input {
                    height: 64px;
                    font-size: 16px;
                    line-height: 22px;
                }
                textarea {
                    height: 258px;
                }
            }
        }
    }
}