<header class="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="img/logo.png" alt="">
                <span>VOLUNTEER</span>
            </a>
            <ul>
                <li><a target="_blank" href="https://instagram.com/motohubsw?igshid=MzRlODBiNWFlZA=="><img src="img/instagram.svg" alt=""></a></li>
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100081162286358"><img src="img/fb.svg" alt=""></a></li>
                <li><a target="_blank" href="https://youtube.com/@motohubstreetway31"><img src="img/youtub.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</header>